// Main window formatting with position and size
.profile-modal {
	@include sans($fontSize);
	width: 1200px;
	margin: 0 auto;
	background-color: transparentize($colorDark, .25);
	&__container {
		width: 850px;
		margin: 0 auto;
	}
}

// Profile formatting
.user-profile {
	background-color: #fff;
	&__header {
		height: 230px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&__content {
		height: 587px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
	}

	&__related {
		height: 160px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background-image: url('../images/vendors/pattern.svg');
		background-size: 5px 5px;
		background-repeat: repeat;		
		position: relative;
	}
}

.user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__picture {
		@include circle(85px, $colorMiddle);
		display: block;
	}
	&__name {
		font-size: 21px;
		color: $colorPrimary;
		margin-top: 14px;
	}
	&__account {
		display: flex;
		justify-content: space-between;
		width: 593px;
		margin-top: 8px;
		padding-bottom: 27px;
		align-items: flex-end;
		border-bottom: solid 1px $colorMiddle;
	}
	&__membership,
	&__last-seen,
	&__activity {
		font-size: 14px;
		color: $colorDark;
	}
	&__caps {
		text-transform: uppercase;
		color: $colorMiddle;
	}
	&__icon,
	&__icon--mono {
		width: 17px;
		height: 24.5px;
		margin-left: 11px;
		margin-bottom: -7px;
	}
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	&__title-group {
		width: 600px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	&__main-title {
		@include serif(30px);
	}
	&__arrow {
		@include circle(30px, $colorPrimary);
		color: #fff;
		font-size: 28px;
		display: flex;
		padding-left: 9px;
		align-items: center;
	}
	&__subtitle {
		color: $colorDark;
		text-transform: uppercase;
		font-size: 14px;
	}
	&__details {
		margin-top: 63px;
		margin-bottom: 80px;
		width: 426px;
		display: flex;
		justify-content: space-between;
	}
	&__tag {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 93px;
	}
	&__box--rotate1,
	&__box--rotate2,
	&__box--rotate3 {
		width: 92px;
		height: 92px;
		background-color: transparentize($colorPrimary, .90);
		position: absolute;
	}
	&__box--rotate1 {
		transform: rotate(-30deg);
	}
	&__box--rotate2 {
		transform: rotate(-11deg);	
	}
	&__box--rotate3 {
		transform: rotate(10deg);
	}	
	&__text {
		@include serif(13px);
		color: $colorDark;
		margin-top: 5px;
	}
	&__number {
		@include sans(24px);
		font-style: normal;
	}
	&__who-joined-group {
		display: flex;
		justify-content: space-between;
		width: 296px;
		margin-top: 17px;
	}
	&__who-joined-single {
		width: 90px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 40px;
	}
}

.related {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	&__picture {
		@include circle(50px, $colorMiddle);
		position: absolute;
		top: -25px;
	}
	&__who-found {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .75px;
	}
	&__name {
		font-size: 18px;
		text-transform: none;
		color: $colorPrimary;
	}
	&__article {
		@include serif(18px);
		color: $colorPrimary;
		margin-top: 1px;
	}		
	&__details {
		display: flex;
		justify-content: space-between;
		width: 593px;
		margin-top: 24px;
		padding-bottom: 32px;
		align-items: flex-end;
	}
	&__text {
		@include serif(13px);
		color: $colorDark;
	}
	&__number {
		@include sans(15px);
		font-style: normal;
	}
}

.who-joined {
	&__photo-box {
		height: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../images/vendors/pattern.svg');
		background-size: 5px 5px;
		background-repeat: repeat;		
	}
	&__photo {
		@include circle(50px, $colorMiddle);
	}
	&__name-box {
		display: flex;
		justify-content: center;
		padding-top: 11px;
	}
	&__name {
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		color: $colorPrimary;
	}
}